<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/footer.css">
    <title>Content-Management-System</title>
    <link rel="stylesheet" href="/css/cms.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="icon" href="/HabitzoneImage/gura.jpg">
</head>
<body>
    <div class="nav-cms">
        <div class="logo-cms">
            <a href="/home"><img src="/HabitzoneImage/smp-footer-logo.png" alt=""></a>
        </div>
        <div class="menu-cms">
            <div class='overview-cms'><span class="material-symbols-outlined">overview</span><p>ภาพรวม</p></div>
            <div class='product-cms'><span class="material-symbols-outlined">shopping_basket</span><p>สินค้า</p></div>
            <div class='order-cms'><span class="material-symbols-outlined">list_alt</span><p>ออเดอร์</p></div>
            <div class='studentinfo-cms'><span class="material-symbols-outlined">contacts</span><p>รายชื่อนักเรียน</p></div>
            <div class='studentinfo-cms'><span class="material-symbols-outlined">folder_managed</span><p>จัดการเนื้อหา</p></div>
        </div>
        <div class="profile-cms">
            <div>
                <span class="material-symbols-outlined">help</span>
            </div>
            <div>
                <span class="material-symbols-outlined">settings</span>
            </div>
            <div>
                <span class="material-symbols-outlined">notifications</span>
            </div>
            <div class="adminoverview">
                <p>Admin</p>
                <span class="material-symbols-outlined">arrow_drop_down</span>
            </div>
        </div>
    </div>
    
    
        <!-- <div class="productall-cms">
            <div class="productall-cms-justify">
                <div class="overviewPRODUCT"></div>
                <div class='dataPRODUCT'></div>
                <div class="productone-cms">

                    <div class="searchengine">
                        <img src="/HabitzoneImage/search2.png" class="search"width="22px" alt="">
                        <input class="searchinputbox" type="text" placeholder="ค้นหาคอร์สเรียน">
                        <select class="selection"name="selection" id="">
                            <option value="">เรียงตามลำดับล่าสุด</option>
                            <option value="">เรียงตามความนิยม</option>
                            <option value="">เรียงตามราคา : ต่ำไปสูง</option>
                            <option value="">เรียงตามราคา : สูงไปต่ำ</option>
                        </select>
                        
                    </div>
                </div> 
            </div>
        </div> -->

    <div class="boxforuser">
        <div class="userinfobox">
            <div class="headuserinfo">

            </div>
            <div class="userdata">
                <div class="userdatasearch">

                    <div class="userdatasearchhead">
                        <div class="userinput"><input type="text" placeholder="Search ( Email , Name ) ...."></div>
                        <span class="material-symbols-outlined">search</span>
                    </div>

                    <div class="userdatasearchbody">
                        <p>Sort by Order</p>
                        <form action="">
                            <div class="radio">
                                <div>
                                    <input type="radio" name="gender" id="">
                                    <label for="">ผู้ใช้งานทั้งหมด</label>
                                </div>
                                <div>
                                    <input type="radio" name="gender" id="">
                                    <label for="">ไม่มีการสั่งซื้อสินค้า</label>
                                </div>
                                <div>
                                    <input type="radio" name="gender" id="">
                                    <label for="">กำลังดำเนินการชำระเงิน</label>
                                </div>
                                <div>
                                    <input type="radio" name="gender" id="">
                                    <label for="">ยืนยันการชำระเงิน</label>
    
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div class="userdatasearchbody2">
                        <p class="pppp">Recent Order</p>
                        <div class="orderfullbox">
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                            <div class="orderinformation"></div>
                        </div>
                    </div>

                </div>


                <div class="userinfo">
                    <div class="userinfohead">
                        <p class="dp2">รูปภาพ</p>
                        <p class="dp2">ชื่อ-นามสกุล</p>
                        <p class="dp3">อีเมล</p>
                        <p class="dp3">ที่อยู่</p>
                        <p class="dp2">ออเดอร์</p>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">pending</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">pending</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">none</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">confirm</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">confirm</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">pending</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">confirm</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">pending</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">none</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">none</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">confirm</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">none</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">pending</p></div>
                    </div>
                    <div class="therealuser">
                        <div class="d2"><img src="/HabitzoneImage/ImgCreator.ai blond hair _ loli girl .png" alt=""></div>
                        <div class="d2"><p>ปกรณ์ บุญเกษม</p></div>
                        <div class="d3"><p>pakornboonkasem521@gmail.com</p></div>
                        <div class="d3"><p>88/119 หมู่4 ต.หนองชาก อ.บ้านบึง จ.ชลบุรี</p></div>
                        <div class="d4"><p class="checkstatus">confirm</p></div>
                    </div>

                    
                </div>  
                <script src="/js/cmscolor.js"></script>
            </div>
        </div>
    </div>
    <%-include("footercms")%>
</body>
</html>