<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เกี่ยวกับเรา - StudyHabitZone</title>
    <link rel="icon" href="/HabitzoneImage/gura.jpg">
</head>
<body>
    <%-include("navbar")%>
    <%-include("footer")%>
    <%-include("loginbox")%>
</body>
</html>