<link rel="stylesheet" href="/css/addsuccess.css">

<div class="addsuccess" id="asc">
    <div class="circlesuccess"><span class="material-symbols-outlined" id="colorchange">done</span></div>
    <p class="p1">เพิ่มสินค้าลงในตะกร้าเรียบร้อย !</p>
    <p class="p2">ชำระเงินได้โดยกดตรงตะกร้าสินค้าด้านซ้ายของท่าน</p>
</div>
<div class="overlayaddsuccess" id="asc2"></div>
<script src="/js/addproductsuccess.js"></script>