<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ข้อตกลงและเงื่อนไขการใช้บริการ - StudyHabitZone</title>
    <link rel="icon" href="/HabitzoneImage/gura.jpg">
    <style>
        .condition{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
        .conditioncontent{
            width: 1200px;
        }
        .cdct{
            width: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cdct h1{
            text-align: center;
            font-size: 28px;
        }
        .cdct h3{
            width: 90%;
            margin-top: 25px;

        }
        .cdct .paragraph1{
            margin-top: 30px;
            color: gray;
            font-size: 18px;
            font-weight: 300;
            width: 90%;
        }
        .cdct .paragraph2{
            margin-top: 20px;
            color: gray;
            font-size: 18px;
            font-weight: 300;
            width: 90%;
        }
        .cdct .paragraph2 a{
          text-decoration: none;
          color: #F85E09;
        }
        .cdct .paragraph2 a:hover{
          text-decoration: underline;
        }
        .cdct div{
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <%-include("navbar")%>
    <div class="condition">
        <div class="cdct">
            <h1>ข้อตกลงและเงื่อนไขการใช้บริการ</h1>
            <p class="paragraph1">
                ยินดีต้อนรับเข้าสู่เว็บไซต์ของ “StudyHabitZone” พัฒนาและดำเนินการขึ้นโดยบริษัท แอลเอสวี เอ็ดดูเคชั่น จำกัด 
                ซึ่งเป็นบริษัทที่จดทะเบียนในประเทศไทย ผู้ใช้งานและผู้เข้าชมเว็บไซต์นี้จะต้องผูกพันธ์ตามข้อตกลงและเงื่อนไขการใช้บริการของเว็บไซต์นี้  
                และเงื่อนไขนี้ให้คำว่า”เว็บไซต์นี้” หมายถึง www.studyhabitzone.com ซึ่งอาจจะมีการเชื่อมต่อ กับเว็บไซต์อื่น ๆ
                ของเครือข่ายของเรา และเว็บไซต์อื่น ๆ ของบุคคลภายนอก
                ดังนั้นผู้ที่ใช้บริการของเว็บไซต์ๆนี้ โปรดอ่านข้อตกลงและเงื่อนไขการใช้บริการนี้อย่างละเอียดก่อนใช้บริการ
            </p>
            <p class="paragraph2">
                นอกจากนี้ ข้อตกลงฉบับนี้มีการเชื่อมโยงไปยัง <a href="/other/privacy-policy">นโยบายความเป็นส่วนตัว (Privacy-Policy)</a> 
                ซึ่งทางบริษัท แอลเอสวี เอ็ดดูเคชั่น จำกัด จะถือเสมือนว่า นโยบายความเป็นส่วนตัว เป็นส่วนหนึ่งของเงื่อนไขและข้อตกลงของการใช้เว็บไซต์นี้
                โดยเมื่อผู้ใช้งานหรือผู้เข้าชมเว็บไซต์ใข้งานเว็บไซต์หรือสมัครสมาชิก จะถือว่าผู้ใช้งานนั้น รับทราบและตกลงยินยอมปฏิบัติตามข้อตกลงและเงื่อนไขการใช้บริการแล้ว 
            </p>
            <h3>การใช้งานเว็บไซต์</h3>
            <p class="paragraph2">
                เนื้อหาทุกอย่างที่ปรากฏในคอร์สเรียนนี้ เช่น ข้อความ รูปภาพ เสียง วิดีโอ และไฟล์เอกสาร 
                ได้รับการคุ้มครองตามกฎหมายลิขสิทธิ์และถือเป็นทรัพย์สินทางปัญญาของบริษัทแอลเอสวี เอ็ดดูเคชั่น จำกัด     
                ซึ่งเป็นเจ้าของลิขสิทธิ์ที่ได้รับคุ้มครองตามกฎหมาย ดังนั้น ห้ามทำซ้ำ แก้ไข หรือเผยแพร่ข้อมูล ข้อความ รูปภาพ เสียง วิดีโอ 
                หรือไฟล์เอกสารที่ปรากฏในเว็บไซต์นี้โดยไม่ได้รับความยินยอมจากบริษัทแอลเอสวี เอ็ดดูเคชั่น จำกัด เพื่อวัตถุประสงค์ในเชิงพาณิชย์ 
                หรือวัตถุประสงค์อื่นๆที่จะทำให้ทางบริษัทเราได้รับความเสียหายในเชิงธุรกิจ 
                รวมถึงกระทำการอื่นใดที่ก่อให้เกิดความเสียหายแก่เจ้าของลิขสิทธิ์ ในลักษณะที่เป็นการแสวงหาประโยชน์ 
            </p>
            <p class="paragraph2">
                เครื่องหมายการค้า และ โลโก้ที่ปรากฏบนเว็บไซต์นี้ได้ถูกจดทะเบียนแล้วและเป็นทรัพย์สินทางปัญญาที่ได้รับคุ้มครองตามกฎหมาย 
                ดังนั้น ห้ามใช้เครื่องหมายการค้า และ โลโก้ดังกล่าวอย่างเคร่งครัด โปรดทราบว่าหากคุณไม่ปฏิบัติตาม บริษัทแอลเอสวี เอ็ดดูเคชั่น จำกัด สามารถดำเนินการทางกฎหมายกับคุณได้
            </p>
            <h3>เรามีเงื่อนไขการให้บริการอย่างไร</h3>
            <p class="paragraph2">
                การใช้บริการจะต้องอยู่ภายใต้ข้อตกลงฉบับนี้ รวมถึงวิธีการ และเงื่อนไขต่าง ๆ ที่เราได้กำหนดไว้ในเว็ปไซต์ และน้องจะสามารถเริ่มใช้บริการได้ก็ต่อเมื่อ น้องได้ลงทะเบียน ยอมรับข้อตกลงและเงื่อนไขการใช้บริการแล้ว  
                น้องสามารถใช้บริการของเราได้เมื่อน้องแสดงหลักฐานและยืนยันตัวตนตามที่เรากำหนด โดยหากเราตรวจสอบแล้วเห็นว่าถูกต้อง เราจะอนุมัติให้ใช้บริการซึ่งน้องจะใช้บริการของเราเพื่อการเรียนรู้เฉพาะตนเองเท่านั้น โดยน้องไม่สามารถเปลี่ยนแปลง แก้ไข โอน ให้เช่า อนุญาตให้ใช้สิทธิ์ ขาย รวมถึงติดต่อ “ผู้สอน” เพื่อประโยชน์ทางธุรกิจใด ๆ โดยไม่ได้รับอนุญาตจากเราเป็นลายลักษณ์อักษรก่อน 
                น้องสามารถขอรับใบรับรองการฝึกอบรมออนไลน์ (Certification) ได้ตามหลักเกณฑ์ และเงื่อนไขที่แต่ละคอร์สกำหนด ทั้งนี้ เราขอสงวนสิทธิ์ในการพิจารณา และกำหนดเงื่อนไข การออกใบรับรองและการสอบวัดผลได้ โดยไม่ต้องแจ้งให้น้องทราบล่วงหน้า  
                เราไม่รับรองผลลัพธ์ หรือผลสำเร็จใด และจะไม่รับผิดชอบต่อความสูญเสียและ/หรือ ความเสียหายใด ๆ (ไม่ว่าทางธุรกิจ หรืออย่างอื่นใด) ที่เกิดขึ้นหรืออาจจะเกิดขึ้นจากการมุ่งหวัง ที่จะได้รับจากการใช้บริการ ทั้งนี้ คำแนะนำใด ๆ ไม่ว่าจะด้วยวาจา หรือเป็นลายลักษณ์อักษรที่ได้รับจากเรา หรือได้รับผ่านการใช้บริการนั้น ไม่ถือว่าเป็นการรับรอง หรือรับประกันการใช้บริการจากเราแต่อย่างใด เว้นแต่จะได้ระบุไว้อย่างชัดเจนในข้อตกลงและเงื่อนไขการใช้บริการนี้
                การอ้างอิงข้อความ และเอกสารใด ๆ ที่ได้กระทำการผ่านการใช้บริการ ให้ถือว่าเป็นความรับผิดชอบของน้องเอง ทั้งนี้ เราไม่ถือเป็นตัวแทนของน้อง รวมทั้งไม่รับประกันความสมบูรณ์ ความถูกต้อง ความน่าเชื่อถือของข้อความ เอกสาร ความคิดเห็น หรือการสื่อสารใด ๆ ที่กระทำการผ่านบริการทั้งสิ้น
                เรามีการพัฒนา การให้บริการอย่างต่อเนื่อง ซึ่งบริการอาจเปลี่ยนแปลงเป็นครั้งคราว ส่งผลให้เรามีความจำเป็นต้องลบ ปฏิเสธ จำกัดการให้บริการโดยเราจะแจ้งให้น้องทราบล่วงหน้า ทั้งนี้ ในบางกรณีเราอาจจะรวบรวมความคิดเห็น หรือคำแนะนำของน้องได้ตามที่เราเห็นสมควร
                เราขอสงวนสิทธิ์ระงับการให้บริการหากเราตรวจพบว่า การใช้บริการมีวัตถุประสงค์ไม่ถูกต้องตามกฎหมาย หรือเพื่อเอื้อให้มีการดำเนินการอันมิชอบด้วยกฎหมายหรือซึ่งเป็นการละเมิดสิทธิ์ใด ๆ ของผู้อื่น หรือกรณีที่น้องได้สร้างความเสียหายเดือดร้อนแก่บุคคลอื่น หรือกระทำการใด ๆ ที่เป็นอันตรายต่อความปลอดภัยของระบบคอมพิวเตอร์ หรือระบบเน็ตเวิร์ค 
                เราขอสงวนสิทธิ์ในการเก็บรักษาข้อมูลจราจรทางคอมพิวเตอร์ไว้ไม่น้อยกว่าเก้าสิบวัน นับแต่วันที่ข้อมูลนั้นเข้าสู่ระบบคอมพิวเตอร์ ซึ่งเป็นไปตาม พ.ร.บ. ว่าด้วยการกระทำความผิดเกี่ยวกับคอมพิวเตอร์ (ฉบับที่ 2) พ.ศ. 2560
                เราจะไม่รับผิดจากการใช้บริการ ในกรณีที่มีเหตุสุดวิสัย หรือเหตุใด ๆ อันเนื่องมาจากพฤติการณ์อันหนึ่งอันใด เช่นการเกิดอันตรายใด ๆ กับระบบคอมพิวเตอร์ของน้อง หรือการสูญหายของข้อมูล รวมถึงการไม่สามารถเข้าถึง หรือใช้บริการ อันเนื่องจากการกระทำของบุคคลที่สาม
                เรามีอำนาจในการตรวจสอบ และเปลี่ยนแปลงสิทธิ์ในการใช้บริการของน้อง โดยการตัดสินของเราถือเป็นที่สุด และในกรณีที่พบว่ามีการฉ้อฉล ปลอมแปลง หรือการกระทำทุจริตใด ๆ เพื่อให้ได้มาซึ่งสิทธิประโยชน์จากบริการต่าง ๆ ไม่ว่าจะเป็นเพียงบางส่วน หรือทั้งหมด หรือการที่น้องยินยอมให้ผู้อื่นกระทำการข้างต้น เรามีสิทธิ์ปฏิเสธหรือเพิกถอนสิทธิ์ดังกล่าวไม่ว่าทั้งหมดหรือบางส่วนโดยเราไม่ต้องชดเชยค่าเสียหายใด ๆ ทั้งสิ้น
                เราขอสงวนสิทธิ์ในการระงับ หรือยุติบัญชีของน้อง รวมถึงดำเนินการใด ๆ ตามที่เราเห็นว่ามีความจำเป็น เพื่อวัตถุประสงค์ ดังต่อไปนี้ โดยไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า รวมทั้งไม่ต้องรับผิดชอบต่อความเสียหายใดอันเนื่องมาจากการกระทำดังกล่าวทั้งสิ้น 
                – การเข้าถึงที่ไม่ได้รับอนุญาต หรือดำเนินการใดที่ผิดเงื่อนไขเรื่องลิขสิทธิ์ตามที่ระบุในข้อตกลงฉบับนี้ 
                – การใช้งานที่ละเมิดสิทธิ์ ความประมาทเลินเล่อของน้อง ที่ทำให้เราได้รับความเสียหาย 
                – การเผยแพร่ไวรัส, ส่งสแปม, ดักจับข้อมูลซึ่งปรากฏเป็นข้อมูลจราจรทางคอมพิวเตอร์ การเจาะเข้าระบบคอมพิวเตอร์ของเรา
                – การพยายามเข้าถึงโดยมิชอบซึ่งข้อมูลคอมพิวเตอร์ และ/หรือระบบคอมพิวเตอร์ของเราหรือบุคคลอื่น หรือทำการเขียนสคริปต์สร้างข้อความในลักษณะที่จะแทรกแซง หรือสร้างความเสียหายแก่สมาชิกรายอื่น 
                การเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใช้บริการ 
                การชำระเงิน
                นโยบายคืนเงิน
                การต่ออายุการใช้งาน
                การยกเลิกการใช้บริการ
                การแบ่งปันบัญชี
                การเปลี่ยนแปลงข้อตกลงและเงื่อนไข
                ข้อควรปติบัติของผู้ใช้ไม่ให้ละเมิดสิทธื ข้อควรปฏิบัติในการใช้บริการมิให้ละเมิดลิขสิทธิ์  
            </p>
            <h3>การส่งข้อมูลให้ทางบริษัท</h3>
            <p class="paragraph2">
                ข้อมูลทุกชนิดที่คุณจัดส่งให้ บริษัท สมาร์ทแมทโปร จำกัด จะถือว่าเป็นข้อมูลที่ไม่เป็นความลับ และไม่เป็นกรรมสิทธิ์แต่อย่างใด ทุกสิ่งที่ท่านได้จัดส่งเผยแพร่หรือโพสต์แสดงความเห็น บริษัท สมาร์ทแมทโปร จำกัด หรือบริษัทในเครือ สามารถใช้ข้อมูลดังกล่าวโดยไม่มีเงื่อนไขใดๆ ทั้งสิ้น
                คุณจะต้องยอมรับว่าข้อมูลที่ท่านได้โพสต์ลงเว็บไซต์เรา ไม่ได้เป็นการละเมิดสิทธิ์จากบุคคลที่สาม รวมถึงลิขสิทธิ์, เครื่องหมายการค้า, ความเป็นส่วนตัว หรือสินทรัพย์ที่เป็นสิทธิส่วนบุคคลอื่น คุณจะต้องเป็นผู้รับผิดชอบข้อมูลทั้งหมดแต่เพียงผู้เดียว
                เมื่อคุณใช้งานเว็บไซต์นี้, คุณจะต้องยินยอมให้ หรือ บริษัท สมาร์ทแมทโปร จำกัด รวบรวมข้อมูลเกี่ยวกับคุณและการใช้งานเว็บไซต์ของคุณ หรือ บริษัท สมาร์ทแมทโปร จำกัด จำกัด มีสิทธิในการใช้ข้อมูลดังกล่าวตามที่ได้ระบุไว้ในนโยบายความเป็นส่วนตัวของเรา
            </p>
            <h3>การคุ้มครองข้อมูลส่วนบุคคลของน้อง</h3>
            <p class="paragraph2">
                เรามีความจำเป็นต้องประมวลผลข้อมูลส่วนบุคคล ในกรณีที่น้องสมัครลงทะเบียนเรียนกับเรา เนื่องจาก เราต้องใช้ข้อมูลเพื่อประกอบการทำสัญญา 
                การให้บริการแก่น้อง และต้องส่งข้อมูลให้หน่วยงานของรัฐเพื่อปฏิบัติตามกฎหมาย หากน้องไม่ประสงค์ที่จะให้ข้อมูลส่วนบุคคลดังกล่าวแก่เรา
                อาจมีผลกระทบต่อหน้าที่ของเราตามกฎหมาย หรืออาจทำให้เราไม่สามารถปฏิบัติหน้าที่ตามสัญญาได้อย่างถูกต้อง และ/หรือ อาจทำให้มีข้อขัดข้อง 
                ไม่สมบูรณ์ ในการปฏิบัติหน้าที่ตามข้อตกลงเงื่อนไขในสัญญาระหว่างเรากับน้องได้ หรือในบางกรณีเราอาจไม่สามารถอนุญาตให้น้องลงทะเบียนเรียนได้ 
                ซึ่งในกรณีดังกล่าวเราอาจมีความจำเป็นต้องปฏิเสธการลงทะเบียนเรียน หรือยกเลิกการให้สิทธิประโยชน์ที่เกี่ยวข้องกับน้องไม่ว่าทั้งหมดหรือบางส่วน (แล้วแต่กรณี)
                อย่างไรก็ตาม น้องมีความเป็นอิสระในการให้ความยินยอม โดยเราจะไม่กำหนดเงื่อนไขในการให้ความยินยอม มาเป็นส่วนหนึ่งของการสมัครเรียน 
                ซึ่งน้องสามารถมั่นใจได้ว่าเราจะใช้ข้อมูลตามวัตถุประสงค์ที่เรากำหนด หรือที่ได้รับความยินยอมจากน้องเท่านั้น 
                โดยในกรณีที่เราจะดำเนินการประมวลผลข้อมูลส่วนบุคคลของน้องในลักษณะ และ/หรือ วัตถุประสงค์ที่ไม่สอดคล้องกับที่กำหนดใน 
                ประกาศความเป็นส่วนตัว (Privacy Notice) สำหรับลูกค้า ผู้รับบริการ เราจะจัดให้มีประกาศเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลเพิ่มเติม 
                และประกาศให้น้องทราบทางเว็ปไซต์หรือมีหนังสือไปยังน้องทางอีเมลเพื่ออธิบายการประมวลผลข้อมูลในลักษณะดังกล่าว
            </p>
            <h3>น้องสามารถแบ่งปันบัญชีของน้องให้คนอื่นได้หรือไม่</h3>
            <p class="paragraph2">
                บัญชีของเราไม่ควรถูกแบ่งปันให้กับใคร หากน้องแบ่งปันข้อมูลสมาชิกของน้องให้ผู้อื่น บุคคลนั้นอาจจะควบคุมบัญชีของน้องได้ 
                และเราจะไม่สามารถรับรู้ได้ว่าใครเป็นเจ้าของบัญชีตัวจริง และในทางกลับกัน น้องไม่สามารถใช้อีเมลของผู้อื่นในการเข้าไปใช้บริการสมัครเรียนกับเราได้
                เนื่องจากข้อมูลของน้อง ซึ่งรวมถึง ข้อมูลสมาชิก และข้อมูลคอร์สเรียนที่น้องได้สมัครเรียน จะถูกบันทึกกับบัญชีผู้ใช้ หากมีการเปลี่ยนเปลี่ยนบัญชีผู้ใช้ 
                อาจมีผลกระทบกับการจัดเก็บข้อมูลน้อง การประเมินผลการเรียน การออกใบรับรอง ทั้งนี้ หากน้องจำเป็นต้องโอนคอร์สเรียนที่ได้ทำการสมัครเรียนไปยังอีเมลบัญชีอื่น 
                น้องต้องทำการยื่นคำร้องมาที่เราโดยการพิจารณาของทีมงานถือเป็นที่สิ้นสุด
            </p>
            <h3>ข้อจำกัดความรับผิด</h3>
            <p class="paragraph2">
                คุณจะต้องยอมรับว่า เมื่อคุณเข้าใช้บริการเว็บไซต์นี้แล้ว คุณยอมรับความเสี่ยง คุณต้องรับผิดชอบ 
                สำหรับค่าใช้จ่ายทั้งหมดที่จะเกิดขึ้น (ถ้ามี) จากการเข้าใช้งานของคุณ บริษัท สมาร์ทแมทโปร จำกัด, 
                กรรมการของบริษัท, พนักงานหรือตัวแทนอื่นๆ จะไม่รับผิดชอบต่อความเสียหายใดๆ, ความสูญเสีย, ค่าใช้จ่าย, 
                การเรียกร้องหรือความต้องการใดๆ, ไม่ว่าจะโดยตรง, โดยอ้อม, การชดเชยหรือผลเสียหายที่เกิดขึ้น, 
                ความเกี่ยวข้องกับการใช้งานเว็บไซต์นี้ของคุณ หรือข้อมูลเนื้อหา, ส่วนประกอบหรือผลิตภัณฑ์ที่รวมอยู่บนเว็บไซต์นี้ 
                หลักเกณฑ์เหล่านี้ อยู่ภายใต้กฎหมายของประเทศไทย หากเกิดข้อพิพาทใดๆ จะได้รับการแก้ไขโดยศาลยุติธรรมการเปลี่ยนแปลงข้อตกลงและเงื่อนไข
                การดำเนินของธุรกิจของเรา ได้มีการพัฒนาอย่างต่อเนื่อง ดังนั้นนโยบายความเป็นส่วนตัว, ข้อตกลงและเงื่อนไขการใช้บริการ อาจจะมีการเปลี่ยนแปลงอยู่เป็นครั้งคราว
                เราแนะนำให้คุณมีการตรวจสอบอย่างต่อเนื่อง เพื่อติดตามว่าเรามีการแก้ไข หรือเพิ่มข้อกำหนด
            </p>
            <h3>กฏหมายที่ใช้บังคับ</h3>
            <p class="paragraph2">
                การระงับข้อพิพาทที่เกิดจากข้อตกลงและเงื่อนไขการใช้บริการนี้ จะอยู่ภายใต้กฎหมายไทย และเขตอำนาจของศาลไทย โดยไม่พิจารณาถึงหลักกฎหมายขัดกัน
                นอกจากนี้ หากมีส่วนหนึ่งส่วนใดของ ข้อตกลงและเงื่อนไขนี้ ขัดหรือแย้งกับกฎหมายที่ใช้บังคับอยู่ในปัจจุบัน หรือที่จะถูกประกาศขึ้นในอนาคต 
                เป็นเหตุให้ส่วนหนึ่งส่วนใดเช่นว่านั้นไม่สมบูรณ์ หรือไม่มีผลบังคับได้ หรือเป็นโมฆียะ 
                หรือเป็นโมฆะ ไม่ว่าด้วยสาเหตุใดก็ตาม ให้ส่วนหนึ่งส่วนใดเฉพาะส่วนนั้นไม่สมบูรณ์ หรือไม่มีผลบังคับ 
                หรือเป็นโมฆียะ หรือตกเป็นโมฆะ แล้วแต่กรณี แต่ทั้งนี้ไม่กระทบถึง ข้อตกลงและเงื่อนไขในส่วนที่เหลือซึ่งยังคงมีผลบังคับอยู่ และมีผลสมบูรณ์ตามกฎหมาย
            </p>
            <div></div>
        </div>
    </div>

    <%-include("loginbox")%>
    <%-include("footer")%>

</body>
</html>