<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylecourse.css">
    <link rel="stylesheet" href="/css/stylehabitzone.css">
</head>
<body>
    <%-include('navbar')%>

    <div class="coutboxbc">
        <div class="cboxbc" >
            <div class="cboxbcin">
                <div class="picturebox"></div>
                <div class="boxinfobuy"></div>
            </div>
            <h3 class="h3">ตัวอย่างวิดีโอการสอน</h3>
            <div class="video"><iframe class="videoin" src="https://www.youtube.com/embed/WFRmzifRoBE" frameborder="0"></iframe></div>
            รายละเอียดคอร์ส
        </div>
    </div>
    <%-include("loginbox")%>

    
    <%-include("footer")%>
</body>
</html>