<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
    <div class="footerin">
        <div class="Fsection1">
            <div class="s1"><img  src="/HabitzoneImage/smp-footer-logo.png" alt=""></div>
            <div class="s2">
                <a href="/home"> Study Habitzone</a>  เว็บสำหรับเรียนพิเศษออนไลน์ <br>
                ที่นี่ เปิดสอนคอร์สติวคณิตศาสตร์ (ม.ต้น – ม.ปลาย) <br>
                ฟิสิกส์ (ม.ปลาย) , เคมี (ม.ปลาย) รวมไปทั้ง TGAT และ TPAT <br>
                สำหรับปูพื้นฐานเพื่อสอบเข้ามหาลัยโดยเฉพาะ
            </div>
            <div class="s3">
                <div class="circle"><a href=""><img class='logoimgfooter' src="/HabitzoneImage/tw.png" alt=""></a></div>
                <div class="circle"><a href=""><img class='logoimgfooter' src="/HabitzoneImage/Instagram_logo_2022.svg.png" alt=""></a></div>
                <div class="circle"><a href=""><img class='logoimgfooter' src="/HabitzoneImage/fb_icon_325x325.png" alt=""></a></div>
                <div class="circle"><a href=""><img class='logoimgfooter' src="/HabitzoneImage/unnamed.png" alt=""></a></div>
                <div class="circle"><a href=""><img class='logoimgfooter' src="/HabitzoneImage/3670147.png" alt=""></a></div>

            </div>
        </div>
        <div class="Fsection2">
            <div class="boxft">
                <div>ที่อยู่บริษัท</div>
                <P>บริษัท ออนดีมานด์ เอ็ดดูเคชั่น จำกัด (สำนักงานใหญ่)
                 444 ชั้น 14 อาคารเอ็ม บี เค ทาวเวอร์ ถนนพญาไท แขวงวังใหม่ เขตปทุมวัน กรุงเทพมหานคร 10330</P>
                
            </div>
            <div class="boxft">
                <div>ช่องทางการติดต่อ</div>
                <div class="flexthis">
                    <span class="material-symbols-outlined">call</span>
                    <p>061-181-8130</p>
                </div>
                <div class="flexthis">
                    <span class="material-symbols-outlined">mail</span>
                    <p>pakornboonkasem@gmail.com</p>
                </div>
                
            </div>
        </div>
        <div class="Fsection3">
            <div class="boxF3">
                <ul type="none">
                    <li><div class="moreinfos">ข้อมูลอื่นๆเพิ่มเติม</div></li>
                </ul>
                <ul>
                    <li><a href="/other/terms-and-conditions-of-use">ข้อตกลงการใช้บริการ</a></li>
                    <li><a href="/other/privacy-policy">นโยบายความเป็นส่วนตัว</a></li>
                    <li><a href="/other/how-to-register-shop">วิธีการสมัครเรียน</a></li>
                    <li><a href="/other/how-to-confirm-payment">วิธีการชำระเงิน</a></li>
                    <li><a href="/all-course/page/1">คอร์สเรียนทั้งหมด</a></li>
                    <li><a href="/other/contact-us">ติดต่อเรา</a></li>
                    <li><a href="/about-us">รู้จักกับติวเตอร์</a></li>
                    <li><a href="/Content-Management-System">Backend</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>