*{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.coutboxbc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}
.cboxbc{
    width: 1200px;
    height:2400px;
    border: 1px solid black
}
.picturebox{
    width: 446.25px;
    height:631.5px;
    border: 1px solid black;
    margin:50px 0 0px 50px;
}
.boxinfobuy{
    width: 520px;
    height:631.5px;
    border: 1px solid black;
    margin:50px 0 0px 133.75px;
}
.cboxbcin{
    width: 1200px;
    height:731.5px;
    display: flex;
    flex-direction: row;
}
.h3{
    margin-left: 50px;
}

.videoin{
    margin-left: 50px;
    width:446.25px;
    height:251px;
}