<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylehabitzone.css">
    <link rel="stylesheet" href="stylecourse.css">
</head>
<body>
    <div class="headflexbox">
        <div class="hf1">
            <div class="hlogo" ><img class="hlogoimg" src="../HabitzoneImage/logo-social.png" alt=""></div>
            <a href="/Habitzone/main.html"><div>Habitzone <br>Focus on your goal</div></a>
        </div>
        <div class="hf2">
            <div class="headinfo">ห้องเรียน</div>
            <div class="headinfo">คอร์สเรียน</div>
            <div class="headinfo" >รู้จักกับติวเตอร์</div>
            <div class="headinfo" >แจ้งชำระเงิน</div>
        </div>
        <div class="hf3">
            <div class="hlogin" >เข้าสู่ระบบ</div>
            <div class="hregister">ลงทะเบียน</div> 
            <div class="hstore" ><img class="hstoreimg" src="../HabitzoneImage/Cart-Logo-Transparent-File.png" alt=""></div> 
        </div>
    </div>

    <div class="coutboxbc">
        <div class="cboxbc" >
            <div class="cboxbcin">
                <div class="picturebox"></div>
                <div class="boxinfobuy"></div>
            </div>
            <h3 class="h3">ตัวอย่างวิดีโอการสอน</h3>
            <div class="video"><iframe class="videoin" src="https://www.youtube.com/embed/WFRmzifRoBE" frameborder="0"></iframe></div>รายละเอียดคอร์ส
        
        </div>
    </div>

</body>
</html>